root = true

[*]
charset = utf_8
end_of_line = lf
indent_size = 3
indent_style = space
insert_final_newline = true
max_line_length = 90

[*.html]
indent_size = 2

[*.css]
indent_size = 2

[*.md]
indent_size = 4

[.git/COMMIT_EDITMSG]
max_line_length = 72
