---
layout: default
---

<h1>Articles</h1>
<p>
<div style="display: table;">
  {% for post in site.posts %}
    {% unless post.draft or post.categories contains "video" %}
      <div>
        <span class="post-list-meta">{{ post.date | date: site.date_format }}</span>
        <span class="post-list-link">
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </span>
      </div>
    {% endunless %}
  {% endfor %}
</div>
</p>
<h1>Videos</h1>
<p>
<div style="display: table;">
  {% for post in site.categories["video"] %}
    <div>
      <span class="post-list-meta">{{ post.date | date: site.date_format }}</span>
      <span class="post-list-link">
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </span>
    </div>
  {% endfor %}
</div>
</p>
<h1>PDFs</h1>
<p>
<div style="display: table;">
  <div>
    <span class="post-list-meta">{{ "2018-04-23" | date: site.date_format }}</span>
    <span class="post-list-link">
      <a href="https://s3.eu-central-1.amazonaws.com/meribold.org/thesis.pdf">Scoring Board Games with Computer Vision</a>
    </span>
  </div>
  <div>
    <span class="post-list-meta">{{ "2017-06-27" | date: site.date_format }}</span>
    <span class="post-list-link">
      <a href="{{ "/assets/cache-paper.pdf" | relative_url }}">Hardware Caches and Optimization</a>
    </span>
  </div>
</div>
</p>
