body {
  /* Horizontally center everything. */
  margin: auto;
  /* Make sure the text can't start and stop exactly at the screen edges; leave some
   * space.
   */
  padding: 0 7.5px;
  /* Set the maximum width in terms of the width of '0' in whatever font is used.  See
   * <https://developer.mozilla.org/en/docs/Web/CSS/length> and
   * <https://practicaltypography.com/line-length.html>.
   */
  max-width: 75ch;
  line-height: 1.5;
  /* Use the browser's default sans-serif font.  Don't impose anything more than that.
   * Someone could even set their default sans-serif font to a font with serifs.  When I
   * don't set `font-family` some browsers use a serif font by default, though.
   */
  font-family: sans-serif;
  /* See <https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering>. */
  text-rendering: optimizeLegibility;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  background-color: #f8f1e3;
}

body,
.post-meta {
  color: #4f321c;
}

body.dark {
  background-color: #000;
}

body.dark,
body.dark .post-meta {
  color: #ccc;
}

body.dark .site-header {
  border-bottom: 1px solid #222;
}

body.dark .site-footer {
  border-top: 1px solid #222;
}

#theme-toggle {
  all: unset;
  color: #6e6e6e;
  border: 1px solid #b3ada3;
  border-radius: 4px;
  padding: 0 3px;
  line-height: 1.375;
  user-select: none;
  visibility: hidden;
  margin-left: 1.4ch;
  float: right;
}

body.dark #theme-toggle {
  border-color: #555;
}

@media (hover: hover) {
  #theme-toggle:hover {
    border-color: #373737;
  }
  body.dark #theme-toggle:hover {
    border-color: #ccc;
  }
}

#theme-toggle:active {
  background: #e6dfd2;
}

body.dark #theme-toggle:active {
  background: #222;
}

#theme-toggle:focus-visible {
  outline: revert;
  border: none;
  margin: 1px;
  margin-left: calc(1.4ch + 1px);
  overflow: hidden;
}

a {
  /* Only underline links on mouseover. */
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  text-decoration-line: revert;
}

main a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: #ecd49c;
  text-decoration-style: solid;
  text-decoration-thickness: 0.2em;
  text-decoration-skip-ink: none;
}

body.dark main a {
  color: #b8f;
  text-decoration: none;
}

.inline-note a {
  text-underline-offset: 0;
}

body.dark .inline-note a {
  text-underline-offset: revert;
}

main a:hover {
  text-decoration-line: underline;
  text-decoration-color: #d19600;
}

body.dark main a:hover {
  text-decoration-color: revert;
  text-decoration-line: revert;
  text-decoration-style: revert;
  text-decoration-thickness: revert;
  text-decoration-skip-ink: initial;
}

a.footnote {
  color: inherit;
  background: #d1960028;
  text-decoration: none;
  padding: 0 2px;
}

body.dark a.footnote {
  background: #251b33;
}

a.footnote:hover {
  color: inherit;
  background: #d1960080;
  text-decoration: none;
}

body.dark a.footnote:hover {
  color: #000;
  background: #b8f;
}

a.reversefootnote,
a.reversefootnote:hover {
  text-decoration: none;
}

a.post-meta {
  text-decoration: none;
}

a.post-meta:hover {
  text-decoration-color: revert;
  text-decoration-line: revert;
  text-decoration-style: revert;
  text-decoration-thickness: revert;
  text-decoration-skip-ink: initial;
}

/* Don't add another underline to abbeviations or acronyms that are part of a link. */
a abbr[title],
a acronym[title] {
  text-decoration: none;
}

/* Fully justify text. */
@media screen and (min-width: 65ch) {
  p {
    text-align: justify;
  }
}

p {
  /* See <https://caniuse.com/css-hyphens>. */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

sup {
  line-height: 0;
}

/* Make sure full justification is disabled for these elements. */
blockquote,
blockquote > p,
ul,
ul p,
ol,
ol p,
dl,
dl p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: initial;
}

/* Disable hyphenation for some elements. */
h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: initial;
}

/* Headings.  Only <h1>, <h2>, and <h3> should be used [1].  Their styles are those most
 * browsers use for <h2>, <h3>, and <h4>, respectively [2].  Since I only want to use
 * three levels of headings, <h4>, <h5>, and <h6> aren't visually distinct from <h3>.
 *
 * There's some weirdness going on with <h1> font sizes in most browsers (e.g. Firefox and
 * Chrome): <h1> headings become gradually smaller the deeper they are nested in
 * <article>, <aside>, <nav>, and <section> (see [3] in Firefox and [4]).  I think it's
 * rooted in the HTML5 specification.  See [5].
 *
 * [1]: https://practicaltypography.com/headings.html
 * [2]: https://www.w3schools.com/tags/tag_hn.asp
 * [3]: view-source:resource://gre-resources/html.css
 * [4]: https://stackoverflow.com/q/22898559 "Why is H2 larger than H1?"
 * [5]: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML_sections_and_outlines#The_HTML5_outline_algorithm
 */
h1 {
  font-size: 1.5em;
  line-height: 1.25;
  margin-top: 0.6em;
  margin-bottom: 0.15em;
}

h2 {
  font-size: 1.17em;
  line-height: 1.375;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

h1,
h2 {
  font-variant: small-caps;
  /* See <https://practicaltypography.com/letterspacing.html>. */
  letter-spacing: 0.05em;
}

/* Set the size of monospace text relative to the normal font size.  See [1], [2], and
 * [3].  Make it smaller, but not as excessively as typical browser defaults [4].  Just
 * using the same size as for proportional fonts unfortunately looks pretty bad with the
 * default fonts of most browsers I looked at.
 *
 * [1]: http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/
 * [2]: https://stackoverflow.com/q/38781089
 *      "font-family: monospace, monospace"
 * [3]: https://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
 * [4]: https://www.brunildo.org/test/monospace_fsize.html
 *      "monospace default font-size"
 */
pre,
code,
kbd,
samp,
tt {
  font-family: monospace, monospace;
  font-size: 0.9375em; /* 15/16 */
  hyphens: none;
}

/* Don't reduce the font size of code blocks twice. */
pre > code {
  font-size: 1em;
}

div.highlighter-rouge {
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 4px;
  color: #000;
  background-color: #f8f8f8;
  min-width: 100%;
  max-width: calc(50% + 50vw - 7.5px);
  width: min-intrinsic;
  width: -moz-min-content;
  width: min-content;
  margin: 1em -7.5px;
  padding: 0 7.5px;
  overflow-x: hidden;
}

body.dark div.highlighter-rouge,
body.dark table {
  color: #ccc;
  box-shadow: none;
  border-radius: 6px;
}

pre {
  padding: 0.3em 0;
  margin: 0;
  overflow-x: auto;
}

pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
  background-color: #f8f8f8;
}

body.dark div.highlighter-rouge,
body.dark pre > code {
  background-color: #150f1c;
}

:not(pre) > code::before,
:not(pre) > code::after {
  content: "`";
  font-weight: bold;
}

:not(pre) > code {
  color: #000;
}

body.dark :not(pre) > code {
  color: revert;
}

/* See <https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php>. */
div.youtube-wrapper {
  position: relative;
  width: calc(100% + 15px);
  margin: 0 -7.5px;
  height: 0;
  padding-bottom: calc(56.25% + 8.4375px); /* (9/16 + 9/16 * 15px) */
}

iframe.youtube-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; /* See <https://stackoverflow.com/q/26274082>. */
}

article header time.post-meta::before {
  content: " · ";
}

.header-link,
.footer-list li > a {
  color: #6e6e6e;
}

body.dark .header-link,
body.dark .footer-list li > a,
body.dark #theme-toggle {
  color: #888;
}

/* Block quotations.  Originally based on the Minima theme [1].  Heavily modified by
 * observing how they are usually typeset in TeX documents:
 *
 * 1. Don't screw with the font color.
 * 2. Probably don't screw with the tracking (letter-spacing).  Especially not using
 *    pixels as the unit.  How is the supposed to be portable?
 * 3. Don't make all of it italic.  That's too much emphasis.
 * 4. Definitely don't combine all of the above.
 *
 * [1]: https://github.com/jekyll/minima/blob/affcd93be22e960afd2be08e6891d99b31bcf920/_sass/minima/_base.scss#L117
 */
blockquote {
  border-left: 0.3em solid #e6dfd2;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1ch;
  padding-right: 1ch;
}

body.dark blockquote {
  border-left: 0.3em solid #38294d;
}

blockquote:last-child {
  margin-bottom: 0;
}

/* All the pages on my website have a footer and I want that footer to be flushed to the
 * page bottom.  This naturally happens when there is at least enough content for
 * scrolling to become necessary to see the footer, but not otherwise.  I inspected
 * <https://jekyll.github.io/minima/misc/2016/05/19/super-short-article.html> to figure
 * out how to flush the footer to the bottom of the page when the page's content has a
 * very small height.  The commit adding this initial solution is db31f09.
 *
 * I had to make some tweaks for Chrome on Android.   (They probably apply to Safari on
 * iOS equally).  My initial solution included setting the minimum height of the <body>
 * element to `100vh` instead of `100%` and didn't do anything to the <html> element.
 * Things got more complicated because of [1].  I hope these tweaks don't break other
 * stuff...
 *
 * [1]: https://developers.google.com/web/updates/2016/12/url-bar-resizing
 */
html {
  /* Using `min-height` here doesn't work. */
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
main {
  flex-grow: 1;
}

.site-header {
  padding: 0.2em 0;
  border-bottom: 1px solid #e6dfd2;
}

.site-footer {
  padding: 0.2em 0;
  border-top: 1px solid #e6dfd2;
  position: sticky;
  bottom: 0.2em;
}

/* See <https://stackoverflow.com/a/32140682>. */
.footer-list {
  list-style: none; /* no bullets */
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* Compensate for the margins of list items. */
  width: calc(100% + 1ch);
  position: relative;
  left: -0.5ch;
}

.footer-list li {
  margin: 0 0.5ch;
}

body.js-available h2#notes,
body.js-available div.footnotes {
  display: none;
}

a.footnote {
  cursor: pointer;
}

span.inline-note {
  color: #000;
  background: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 4px;
  padding: 0.11em 2px;
  margin: 0 -2px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

body.dark span.inline-note {
  color: inherit;
  background: #251b33;
  box-shadow: #b987ff 0 0 2px 1px;
  padding: 1px 2px;
  border-radius: 0.2em;
}

span.inline-note code {
  background-color: initial;
}

body.js-available sup[id^="fnref:"][role="doc-noteref"] {
  vertical-align: inherit;
  font-size: inherit;
}
