<header class="site-header" role="banner">
  <nav>
    <a class="header-link" href="{{ "/" | relative_url }}">Home</a>
    <nav class="site-nav">
      {% for path in site.header_pages %}
        {% assign my_page = site.pages | where: "path", path | first %}
        {% if my_page.title %}
          <a class="header-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </nav>
</header>

<!-- vim: set tw=90 sts=-1 sw=2 et: -->
