.post-list-meta {
  display: table-cell;
  padding-right: .33ch;
  white-space: nowrap;
}

.post-list-link {
  display: table-cell;
  padding-left: .33ch;
}

.stealth-link,
.post-list-link > a {
  color: #000;
}

body.dark .stealth-link,
body.dark .post-list-link > a {
  color: #fff;
}

.post-list-meta {
  color: #888;
}

body.dark .post-list-meta {
  color: #bbb;
}
