.post-list-meta {
  display: table-cell;
  padding-right: 0.33ch;
  white-space: nowrap;
}

.post-list-link {
  display: table-cell;
  padding-left: 0.33ch;
}

header #epigraph,
.post-list-meta {
  color: #6e6e6e;
}

body.dark header #epigraph,
body.dark .post-list-meta {
  color: #888;
}
