.chart-wrapper {
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
  margin-left: calc(-50vw + 50%);
  width: min(100vw, 110%);
  background: #f8f8f8;
  padding: 3% min(2em, (100vw - 110%) / 2);
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 4px;
}

body.dark .chart-wrapper {
  background: #150f1c;
  box-shadow: none;
  border-radius: 6px;
}

img.chart {
  width: calc(100% - 15px);
  margin: auto;
}

body.dark img.chart {
  background: none;
  filter: invert(100%) brightness(88%);
  transform: translate3d(0, 0, 0);
}

img[src*="oo-picture"] {
  width: min(110%, 100vw - 7.5px);
  max-width: calc(100vw - 7.5px);
  filter: sepia(15%);
  transform: translate3d(-50%, 0, 0);
  margin-top: 2em;
  margin-bottom: 2em;
}

body.dark img[src*="oo-picture"] {
  filter: invert(100%) brightness(80%);
}

.funny-table th,
.funny-table td {
  text-align: center;
}

/* TODO: make the width of the border dynamic. */
.funny-table th:nth-child(2),
.funny-table td:nth-child(2) {
  border-right: 7.5px solid #f8f8f8;
  padding-right: 3.75px;
}

body.dark .funny-table th:nth-child(2),
body.dark .funny-table td:nth-child(2) {
  border-right-color: #150f1c;
}

.funny-table td:nth-child(3),
.funny-table th:nth-child(3) {
  padding-left: 3.75px;
}

.narrow-listing {
  display: none;
}

@media screen and (max-width: 50ch) {
  .wide-listing {
    display: none;
  }
  .narrow-listing {
    display: block;
  }
}
