.site-footer {
  padding-top: .2em;
  border-top: 1px solid #ccc;
  margin-bottom: .2em;
}

/* See <https://stackoverflow.com/a/32140682>. */
.footer-list {
  list-style: none; /* no bullets */
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* Compensate for the margins of list items. */
  width: calc(100% + 2ch);
  position: relative;
  left: -1ch;
}

.footer-list li {
  margin: 0 1ch;
}

.footer-list li > a {
  color: #888;
}

.footer-link {
  color: #888;
}

/* vim: set tw=90 sts=-1 sw=2 et: */
