.site-header {
  padding-bottom: .2em;
  border-bottom: 1px solid #ccc;
  /* Makes sure the line is below all links when the viewport is really narrow and the
   * links get stacked vertically.  See <https://www.w3schools.com/css/css_float.asp>.
   */
  overflow: auto;
}

.header-link {
  color: #888;
}

.site-nav {
  float: right;
}

/* Add gaps between links.  Don't add space after the last child.  */
.header-link:not(:last-child) {
  margin-right: 2ch;
}

/* vim: set tw=90 sts=-1 sw=2 et: */
