body {
  /* Horizontally center everything. */
  margin: auto;
  /* Make sure the text can't start and stop exactly at the screen edges; leave some
   * space.
   */
  padding: 0 2mm;
  /* Set the maximum width in terms of the width of '0' in whatever font is used.  See
   * <https://developer.mozilla.org/en/docs/Web/CSS/length>.
   */
  max-width: 80ch;
  line-height: 1.4;
}

article {
  /* Fully justify text. */
  text-align: justify;
}

pre, code {
  background-color: #eee;
}

pre {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  overflow-x: auto;
}

code {
  padding: 2px 4px;
}

pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* vim: set tw=90 sts=-1 sw=2 et: */
