body {
  /* Horizontally center everything. */
  margin: auto;
  /* Set the maximum width in terms of the width of '0' in whatever font is used.  See
   * <https://developer.mozilla.org/en/docs/Web/CSS/length>.
   */
  max-width: 80ch;
}

article {
  /* Fully justify text. */
  text-align: justify;
}

/* vim: set tw=90 sts=-1 sw=2 et: */
