<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="light">
    <script>
      document.body.classList.add("js-available");
      // Once `document.body` exists, immediately add the `dark` class if necessary to
      // prevent a white flash while the document loads.
      {% include dark-mode.js %}
    </script>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    <script>
      {% include jk.js %}
      {% include inline-notes.js %}
    </script>
  </body>
</html>
